<button type="button" class="btn btn-primary" (click)="create()">Adicionar</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Descrição</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estacionamento of estacionamentos">
      <td>{{ estacionamento.name }}</td>
      <td>
          <button type="button" class="btn btn-success" (click)="visualizarVagas($event, estacionamento)">Vagas</button>
          <button type="button" class="btn btn-info" (click)="update($event, estacionamento)">Arrecadação</button>
          <button type="button" class="btn btn-primary" (click)="update($event, estacionamento)">Alterar</button>
          <button type="button" class="btn btn-danger" (click)="delete($event, estacionamento)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>