<button type="button" class="btn btn-success">
    Vagas disponíveis <span class="badge badge-light">15</span>
</button>

<table class="table table-striped">

    <tr>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">A1</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger">
                Ocupada <span class="badge badge-light">A2</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">A3</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">A4</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">A5</span>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">B1</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger">
                Ocupada <span class="badge badge-light">B2</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">B3</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">B4</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">B5</span>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">C1</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger">
                Ocupada <span class="badge badge-light">C2</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">C3</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">C4</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success">
                Disponível <span class="badge badge-light">C5</span>
            </button>
        </td>
    </tr>

</table>